USE [master]
GO
/****** Object:  Database [TKYS]    Script Date: 11.5.2015 00:24:27 ******/
CREATE DATABASE [TKYS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TKYS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\TKYS.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TKYS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\TKYS_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TKYS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TKYS]
GO
/****** Object:  Table [dbo].[bildirim]    Script Date: 11.5.2015 00:24:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bildirim](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[detay] [text] NOT NULL,
	[ad] [nvarchar](50) NULL,
	[kullanici_id] [int] NULL,
 CONSTRAINT [PK_bildirim] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[borc]    Script Date: 11.5.2015 00:24:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[borc](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](50) NULL,
	[miktar] [int] NULL,
	[kullanici_id] [int] NULL,
 CONSTRAINT [PK_borc] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[daire]    Script Date: 11.5.2015 00:24:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[daire](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[blok] [nvarchar](10) NOT NULL,
	[kat] [int] NOT NULL,
	[daire_no] [int] NOT NULL,
	[daire_genisligi] [int] NOT NULL,
	[kullanici_id] [int] NULL,
 CONSTRAINT [PK_daire] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[etkinlik]    Script Date: 11.5.2015 00:24:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[etkinlik](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](50) NOT NULL,
	[detay] [text] NULL,
	[tarih] [datetime] NOT NULL,
	[kullanici_id] [int] NULL,
 CONSTRAINT [PK_etkinlik] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[gelir]    Script Date: 11.5.2015 00:24:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gelir](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](50) NULL,
	[miktar] [int] NULL,
 CONSTRAINT [PK_gelir] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[gider]    Script Date: 11.5.2015 00:24:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gider](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](50) NULL,
	[miktar] [int] NULL,
 CONSTRAINT [PK_gider] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[is_turu]    Script Date: 11.5.2015 00:24:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[is_turu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](50) NULL,
 CONSTRAINT [PK_is_turu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[isler]    Script Date: 11.5.2015 00:24:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[isler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](50) NULL,
	[detay] [text] NULL,
	[is_turu] [int] NULL,
	[kullanici_id] [int] NULL,
 CONSTRAINT [PK_is] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[kullanici]    Script Date: 11.5.2015 00:24:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kullanici](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](50) NOT NULL,
	[soyad] [nvarchar](50) NOT NULL,
	[cinsiyet] [bit] NOT NULL,
	[cep_telefonu] [nvarchar](50) NOT NULL,
	[e_posta] [nvarchar](50) NOT NULL,
	[kullanici_adi] [nvarchar](50) NOT NULL,
	[sifre] [nvarchar](50) NOT NULL,
	[yetki] [nvarchar](1) NOT NULL,
 CONSTRAINT [PK_kullanici] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[rezervasyon]    Script Date: 11.5.2015 00:24:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rezervasyon](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](50) NULL,
	[detay] [text] NULL,
	[sosyal_tesis_id] [int] NULL,
	[kullanici_id] [int] NULL,
 CONSTRAINT [PK_rezervasyon] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[sosyal_tesis]    Script Date: 11.5.2015 00:24:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sosyal_tesis](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](50) NULL,
	[kapasite] [int] NULL,
 CONSTRAINT [PK_sosyal_tesis] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[bildirim]  WITH CHECK ADD  CONSTRAINT [FK_bildirim_kullanici] FOREIGN KEY([kullanici_id])
REFERENCES [dbo].[kullanici] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[bildirim] CHECK CONSTRAINT [FK_bildirim_kullanici]
GO
ALTER TABLE [dbo].[borc]  WITH CHECK ADD  CONSTRAINT [FK_borc_kullanici] FOREIGN KEY([kullanici_id])
REFERENCES [dbo].[kullanici] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[borc] CHECK CONSTRAINT [FK_borc_kullanici]
GO
ALTER TABLE [dbo].[daire]  WITH CHECK ADD  CONSTRAINT [FK_daire_kullanici] FOREIGN KEY([kullanici_id])
REFERENCES [dbo].[kullanici] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[daire] CHECK CONSTRAINT [FK_daire_kullanici]
GO
ALTER TABLE [dbo].[etkinlik]  WITH CHECK ADD  CONSTRAINT [FK_etkinlik_kullanici] FOREIGN KEY([kullanici_id])
REFERENCES [dbo].[kullanici] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[etkinlik] CHECK CONSTRAINT [FK_etkinlik_kullanici]
GO
ALTER TABLE [dbo].[isler]  WITH CHECK ADD  CONSTRAINT [FK_is_is_turu] FOREIGN KEY([is_turu])
REFERENCES [dbo].[is_turu] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[isler] CHECK CONSTRAINT [FK_is_is_turu]
GO
ALTER TABLE [dbo].[isler]  WITH CHECK ADD  CONSTRAINT [FK_isler_kullanici] FOREIGN KEY([kullanici_id])
REFERENCES [dbo].[kullanici] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[isler] CHECK CONSTRAINT [FK_isler_kullanici]
GO
ALTER TABLE [dbo].[rezervasyon]  WITH CHECK ADD  CONSTRAINT [FK_rezervasyon_kullanici] FOREIGN KEY([kullanici_id])
REFERENCES [dbo].[kullanici] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[rezervasyon] CHECK CONSTRAINT [FK_rezervasyon_kullanici]
GO
ALTER TABLE [dbo].[rezervasyon]  WITH CHECK ADD  CONSTRAINT [FK_rezervasyon_sosyal_tesis] FOREIGN KEY([sosyal_tesis_id])
REFERENCES [dbo].[sosyal_tesis] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[rezervasyon] CHECK CONSTRAINT [FK_rezervasyon_sosyal_tesis]
GO
USE [master]
GO
